<footer class="text-center text-lg-start bg-light text-muted footer mt-5">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <!-- <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>2022 Dehui Yu
                    </h6> -->
                    <p>
                        Front-end: <br>BootStrap, EJS, HTML5, JOI Schema Validations<br><br>
                        Back-end: <br>MongoDB, Mongoose, Node.js, Express.js<br><br>
                        Deploy: <br>Heroko
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Resources
                    </h6>
                    <p>
                        <a href="https://www.mapbox.com/" class="text-reset">Mapbox</a>
                    </p>
                    <p>
                        <a href="http://www.passportjs.org/" class="text-reset">Passport</a>
                    </p>
                    <p>
                        <a href="https://nodejs.org/en/" class="text-reset">Node.js</a>
                    </p>
                    <p>
                        <a href="https://getbootstrap.com/" class="text-reset">Bootstrap</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/about" class="text-reset">About Site</a>
                    </p>
                    <p>
                        <a href="https://github.com/Dwightu/YelpCamp" class="text-reset">Source Code</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact Me
                    </h6>
                    <p>&#x2709; yudehui1115@gmail.com
                    </p>
                    <p>&#x260E; 343-777-8886</p>
                    <p>Hire Me - <a href="https://www.linkedin.com/in/dwight-yu-3a7062227/"
                            class="text-reset">Linkedin</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://www.linkedin.com/in/dwight-yu-3a7062227/">Dwight Yu</a>
    </div>
    <!-- Copyright -->
</footer>